$enable-flex: true;

$fa-font-path: "assets/fonts/fontawesome";

/***********************************************************************
/ Adjust any of Bootstrap variables blow as needed.
/ It's reccommedned to use $breakpoint-xl to the max document width.
/ See /assets/scss/custom/general.scss for smooth container usage.
/***********************************************************************/

// *** Bootstrap Fonts ***
// $font-family-base: sans-serif;
// $font-size-base: 1rem;
// $line-height-base: 1.375;

// *** Bootstrap Body/Link Colors ***
// $link-color: ;
// $body-bg: ;

// *** Bootstrap Colors ***
// $primary: ;
// $secondary: ;
// $success: ;
// $danger: ;
// $warning: ;
// $info: ;
// $light: ;
// $dark: ;

// *** Bootstrap Breakpoint Sizes ***
// $breakpoint-xs: 0px;
// $breakpoint-sm: 576px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 992px;
// $breakpoint-xl: 1200px;
// $breakpoint-xl: 1200px;
