/**** MIXIN SCALER ****/
// Mixin to handle font scaler equation. Default values are included.
@mixin font-scaler($font-max: 62, $font-min: 40, $line-height-max: 74, $line-height-min: 52) {
	font-size: $font-max + px;
	font-size: calc(#{$font-min + px} + (#{$font-max} - #{$font-min}) * (100vw - #{$breakpoint-sm + px}) / (#{$breakpoint-xl} - #{$breakpoint-sm}));
	line-height: $line-height-max + px;
	line-height: calc(#{$line-height-min + px} + (#{$line-height-max} - #{$line-height-min}) * (100vw - #{$breakpoint-sm + px}) / (#{$breakpoint-xl} - #{$breakpoint-sm}));
	@media (min-width: $breakpoint-xl + px) {
		font-size: $font-max + px;
		line-height: $line-height-max + px;
	}
}
